<style>
a
{
    text-decoration : none;
}
nav ul
{
    padding-top:10px;
    text-align : center;
}
nav ul li
{
    display:inline;
    border-left:1px solid #999;
    font:bold 12px Dotum;
    padding:0 10px;
}
nav ul li:first-child
{
    border-left:none;
}
</style>
